/* tg = totally grounded */
.tgblue {
    background-color: #1446A0;
}

.tgyellow {
    background-color: #F5D547;
}

.tgred {
    background-color: #DB3069;
}

@font-face {
    font-family: "Circular Black";
    src: url("../fonts/circular-black.otf");
}

#home {
    font-size: 18px;
}

.title {
    font-family: "Circular Black", sans-serif;
    text-transform: uppercase;
}

#uvp {
    line-height: 1.5em;
    margin: 0 auto;
}

main p {
    margin: 0 auto !important;
}


